<div class="categories">
  <p>Categories:</p>
  <div class="categories__container">
    <!--<a href="/categories/angular" {% if page.url == '/categories/angular' %}class="active"{% endif %}>-->
      <!--<img src="/img/tags/angular.svg" alt="All Angular articles">-->
      <!--Angular-->
    <!--</a>-->
    <a href="/categories/react" {% if page.url == '/categories/react' %}class="active"{% endif %}>
      <img src="/img/tags/react.svg" alt="All ReactJS articles">
      ReactJS
    </a>
    <a href="/categories/javascript" {% if page.url == '/categories/javascript' %}class="active"{% endif %}>
      <img src="/img/tags/js.svg" alt="All JavaScript articles">
      JavaScript
    </a>
  </div>
</div>
