<!doctype html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}
    <main class="content">
      <div class="card">
        {% if page.url != '/angular-1-x' and page.url != '/angular-2' and page.url != '/javascript'  %}
        {% endif %}
        <div class="card__content">
          {{ content }}
        </div>
      </div>
      {% include footer.html %}
    </main>
    <script type="text/javascript">
      var infolinks_pid = 3044803;
      var infolinks_wsid = 0;
    </script>
    <script type="text/javascript" src="//resources.infolinks.com/js/infolinks_main.js"></script>
  </body>
</html>
